.mokou-search {
  opacity: 0.9;
  text-align: center;
  margin-top: 25vh; }
  .mokou-search-bar {
    height: 36px;
    box-shadow: 8px 8px 8px #333;
    display: flex;
    align-items: center;
    margin: 0 auto; }
    .mokou-search-bar-container {
      height: inherit;
      float: left; }
      .mokou-search-bar-container-btn {
        height: inherit;
        float: left;
        background-color: #5BC0DE;
        cursor: pointer;
        padding: 6px 12px; }
        .mokou-search-bar-container-btn:hover {
          background-color: #31B0D5;
          border-color: #46B8DA; }
        .mokou-search-bar-container-btn:active {
          background-color: #269ABC;
          border-color: #1B6D85; }
      .mokou-search-bar-container-panel {
        height: inherit;
        float: left;
        border: 1px solid #46B8DA;
        background: url(../images/down.svg) 2px 10px no-repeat;
        background-size: 12px;
        line-height: 36px;
        background-color: #5BC0DE;
        cursor: pointer;
        padding: 6px 8px; }
        .mokou-search-bar-container-panel:hover {
          background-color: #31B0D5;
          border-color: #46B8DA; }
        .mokou-search-bar-container-panel:active {
          background-color: #269ABC;
          border-color: #1B6D85; }
      .mokou-search-bar-container-dropmenu {
        position: absolute;
        background-color: #FFFFFF;
        color: #333333;
        top: calc(100% + .5rem);
        z-index: 9999999;
        box-shadow: 8px 8px 8px #333; }
        .mokou-search-bar-container-dropmenu-searchengine {
          color: #333333;
          padding: 10px 20px;
          border-bottom: 1px solid #DADADA;
          cursor: pointer; }
          .mokou-search-bar-container-dropmenu-searchengine:hover {
            background-color: #DADADA; }
    .mokou-search-bar-input {
      height: 36px;
      width: 560px;
      float: left;
      color: #333333;
      text-indent: .5rem; }
    .mokou-search-bar-btn {
      width: 36px;
      height: 36px;
      float: left;
      cursor: pointer;
      color: #FFFFFF;
      background: url(../images/search.svg) 2px 8px no-repeat;
      background-color: #5BC0DE;
      background-size: 32px; }
      .mokou-search-bar-btn:hover {
        background-color: #31B0D5;
        border-color: #46B8DA; }
      .mokou-search-bar-btn:active {
        background-color: #269ABC;
        border-color: #1B6D85; }
  .mokou-search-panel {
    color: #DADADA;
    margin: 3rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    opacity: 0.9; }
    .mokou-search-panel-nav {
      box-shadow: 8px 8px 8px #333;
      width: 20%;
      background-color: #FFFFFF;
      text-align: left; }
      .mokou-search-panel-nav > * {
        height: 36px;
        line-height: 36px;
        border: 1px solid #DADADA;
        margin-left: -1px;
        margin-top: -1px; }
      .mokou-search-panel-nav li {
        flex: 1;
        cursor: pointer;
        padding: 0 4px; }
      .mokou-search-panel-nav-list-title {
        background-color: #68c867; }
      .mokou-search-panel-nav-list {
        color: #333333; }
        .mokou-search-panel-nav-list:hover {
          background-color: #333333;
          color: #FFFFFF; }
